.jumbotron {
    margin-left: 200px;
    margin-right: 200px;
    background-color: black;
    color: white;
    border-radius: 5px;

}

.panel  {
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 5px;

}